/* Feature Section Styling */
.featureBorderWrapDarkTheme {
  position: relative;
  background: linear-gradient(140deg, #3a2d8c 10%, #571e4b 55%, #163d59 100%);
  padding: 2px;
}

.featureBorderWrapLightTheme {
  position: relative;
  background: linear-gradient(to bottom, #f4f4ff, #fff5f0, #feeef4);
  padding: 2.5px;
}

.storyCard {
  transition: background 0.5s ease-in-out;
}
.featureSubtitle,
.featureParagraph {
  transition: color 0.5s ease-in-out;
}

.storyCard:hover {
  background: #3d4481;
}
.storyCard:hover .featureSubtitle {
  color: white;
}
.storyCard:hover .featureParagraph {
  color: white;
}

.storyCard:hover > div > p {
  color: white;
}
.storyCard:hover > div > h3 {
  color: white;
}

.storyCard .coloredLinkedInIcon {
  opacity: 0;
}

.storyCard .grayLinkedInCon {
  opacity: 1;
}

.storyCard:hover .coloredLinkedInIcon {
  fill: #3d4481;
  opacity: 1;
}

.storyCard:hover .grayLinkedInCon {
  fill: #3d4481;
  opacity: 0;
}

.customBoxShadow {
  box-shadow: 0 0 1px 1px gray;
}

.purpleText {
  color: #3d4481 !important;
}

.jobDescriptionBoxWrapper {
  position: relative;
  border-radius: 25px;
  padding: 1px;
  overflow: hidden;
}

.jobDescriptionItemWrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  border-radius: 25px;
  background: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  -webkit-mask: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
}
