.introTextBtnContainer {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #48427b 20%, #3236978f 80%),
    url("../../public/assets/img/images/bg_image_introTextBtn.png") no-repeat
      center;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 20px;
}

/* Feature Section Styling */
.featureBorderWrapDarkTheme {
  position: relative;
  background: linear-gradient(140deg, #3a2d8c 10%, #571e4b 55%, #163d59 100%);
  padding: 2px;
}

.featureBorderWrapLightTheme {
  position: relative;
  background: linear-gradient(0deg, #c0beff 10%, #ffcee0 55%, #ffdecc 100%);
  padding: 2px;
}

.graphBackground {
  background-image: url("../../public/assets/img/images/features/graph.png");
}

/* Carousel Section Styling */

.carouselItemsDarkTheme,
.carouseItemsWhiteTheme {
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 20px 0px rgba(255, 95, 162, 0.15);
}
.carouselItemsDarkTheme {
  box-shadow: 5px 5px 20px 0px rgba(255, 95, 162, 0.15);
}
.carouseItemsWhiteTheme {
  box-shadow: 5px 5px 20px 0px rgba(255, 95, 162, 0.15);
}

.carouselItemsDarkTheme::before,
.carouseItemsWhiteTheme::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: background 0.25s ease-in-out;
}

/* 
.carouselItemsDarkTheme::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  transition: background 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  z-index: 100;
  pointer-events: none;
}

.carouselItemsDarkTheme:hover::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  opacity: 0;
}

.carouselItemsDarkTheme img {
  transition: filter 0.3s ease;
}

.carouselItemsDarkTheme:hover img {
  filter: brightness(1.2);
}
.carouseItemsWhiteTheme {
  box-shadow: 5px 5px 20px 0px rgba(255, 95, 162, 0.15);
} */

.swiper > .swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
  transition: transform 2s ease;
}

.swiper-wrapper {
  padding-top: 20px;
}

/* Intergrations Section Styling */
.intergrationBoxGradient {
  position: relative;
  background: linear-gradient(180deg, #ffbb9b 10%, #ff8fb8 50%, #afafff 100%);
  padding: 2px;
}

.aboutSectionBG {
  background-image: url("../../public/assets/img/aboutSectionBG.png");
}

.securitySection {
  position: relative;
  border: 2px solid (#afafff, #ff8fb8, #ffbb9b);
}

.featureBorderWrapLightTheme {
  position: relative;
  background: linear-gradient(0deg, #afafff 10%, #ff8fb8 55%, #ffbb9b 100%);
  padding: 2px;
}

/*.securitySection::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(#afafff 100% #ff8fb8 100% #ffbb9b 100%);
  border-radius: inherit;
  border: double 1em transparent;
  border-radius: 30px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, green, gold);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
*/
