/* This is for the container below the video player and text with pill */
.parentColoredBorderWrapper {
  /* Border Radius */
  padding: 2px;
  /* Border Radius */
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(93, 71, 255, 0.56);
  background: -moz-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afafff",endColorstr="#ffbb9b",GradientType=1);
}

.introTextBtnContainer {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #48427b 20%, #3236978f 80%),
    url("../../../public/assets/img/images/bg_image_introTextBtn.png") no-repeat
      center;
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 20px;
}
