/* in index.css or global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom classes */
/* * {
  border: 1px solid red !important;
} */
.pagePaddingLarge {
  @apply px-4 sm:px-6 md:px-[8%] lg:px-[10%] xl:px-[11%] 2xl:px-[15%];
}

.pagePaddingMedium {
  @apply px-2 sm:px-4 md:px-[3%] lg:px-[5%] xl:px-[6%] 2xl:px-[8%];
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-montserrat), sans-serif;
  /* Prevent body scroll and shift */
}
.el_delta_prime_font {
  font-family: sans-serif;
}

html,
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

body .no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Ensure your tailwind utilities are included */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Background Blends for Dark and Light Mode */
/* 
This is used for the main background at the first level of the landing page 
blending 2 of the images.
*/
.no-scroll {
  overflow: hidden !important;
  height: 100vh;
  width: 100vw;
}

.background_1-darkTheme,
.background_1-lightTheme {
  transition: background 0.3s ease, color 0.3s ease;
}

.background_1-darkTheme::before,
.background_1-lightTheme::before {
  transition: opacity 0.3s ease;
}
/* globals.css */
body.light-theme {
  background: rgb(27, 21, 59);
  background: linear-gradient(
    160deg,
    rgba(244, 244, 255, 1) 15%,
    rgba(255, 245, 240, 1) 50%,
    rgba(232, 232, 242, 1) 70%
  );
}

body.dark-theme {
  background: rgb(27, 21, 59);
  background: linear-gradient(
    137deg,
    #1b153c 11.09%,
    #1c2943 49.48%,
    #301e3e 88.79%
  );
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.landscapeImage {
  background-image: url("../public/assets/img/images/landscape.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

.background_1-darkTheme {
  position: relative;
  background: rgb(27, 21, 59);
  background: linear-gradient(
    137deg,
    #1b153c 11.09%,
    #1c2943 49.48%,
    #301e3e 88.79%
  );
}

.background_1-darkTheme::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  /* background-image: url("../public/assets/img/bg_img_1.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.05;
  pointer-events: none;
  background-blend-mode: overlay;
}

.background_1-lightTheme {
  position: relative;
  background: rgb(27, 21, 59);
  background: linear-gradient(
    160deg,
    rgba(244, 244, 255, 1) 15%,
    rgba(255, 245, 240, 1) 50%,
    rgba(232, 232, 242, 1) 70%
  );
}

.background_1-lightTheme::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 100%;
  /* background-image: url("../public/assets/img/bg_img_1.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.05;
  pointer-events: none;
  background-blend-mode: overlay;
}
.parentColoredBorderWrapper {
  /* Border Radius */
  padding: 2px;
  /* Border Radius */
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(93, 71, 255, 0.56);
  background: -moz-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afafff",endColorstr="#ffbb9b",GradientType=1);
}
.parentColoredBorderWrapperDarkTheme {
  /* Border Radius */
  padding: 2px;
  /* Border Radius */
  border-radius: 20px;
  background: -moz-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afafff",endColorstr="#ffbb9b",GradientType=1);
}

.parentColoredBorderWrapperLightTheme {
  /* Border Radius */
  padding: 2px;
  /* Border Radius */
  border-radius: 20px;
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 187, 155, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(175, 175, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 187, 155, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(175, 175, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 187, 155, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(175, 175, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afafff",endColorstr="#ffbb9b",GradientType=1);
}

.parentColoredBorderWrapperIcon {
  /* Border Radius */
  padding: 2px;
  /* Border Radius */
  border-radius: 9999px;
  box-shadow: 0 0 8px rgba(93, 71, 255, 0.56);
  background: -moz-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afafff",endColorstr="#ffbb9b",GradientType=1);
}

.glossaryButtonsWrapper {
  /* Border Radius */
  padding: 2px;
  /* Border Radius */
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(93, 71, 255, 0.56);
  background: -moz-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afafff",endColorstr="#ffbb9b",GradientType=1);
}
/* End of Background Blends  */

/* Custom CSS Classes */
/* Text/Typography */
/* #region Typography */
.unlockPotentialTypography {
  color: #fff;
  leading-trim: both;
  text-edge: cap;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 53.3px */
}

.largeText {
  font-weight: 600;
  line-height: 53.5px;
  letter-spacing: -0.03em;
  color: white;
}

.linearColoredText {
  background: -webkit-linear-gradient(#ffbb9b, #ff8fb8, #afafff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12px;
}

.buttonLightModeText {
  color: #feeef4;
  font-size: 12px;
}

.brightText {
  font-size: 44px;
  text-shadow: 0px -1px 16px #feeef4;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -2%;
}
.brightTitle {
  text-shadow: 0px -1px 16px #feeef4;
  font-weight: 700;
  letter-spacing: -2%;
}
.textShadow {
  text-shadow: 0px 0px 2px #feeef4;
  font-weight: 700;
  letter-spacing: -2%;
}
.smallBrigthText {
  font-size: 32px;
  text-shadow: 0px -1px 16px #feeef4;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -2%;
}

.selectedLetterDark {
  text-shadow: 0px 0px 13px #feeef4;
}
.selectedLetterLight {
  text-shadow: 2px 2px 20px #6e54a5;
}

.slightBrightText {
  line-height: 24px;
  text-align: center;
  text-shadow: 3px 3px 13.5px rgba(191, 188, 255, 0.5);
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.whiteMainText {
  font-weight: 400;
}

.blueText {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.costText {
  font-size: 18px;
  font-weight: 700;
  line-height: 23.5px;
}

.carouselHeader {
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

/* Feature Typography */
.featureTitle {
  font-weight: 700;
}

.featureSubtitle {
  font-weight: 700;
}

.featureCardTitle {
  font-size: 17px;
  color: white;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.topPartLightThemeShadow {
  position: relative;
  box-shadow: 2px 6px 11px 0px rgba(191, 188, 255, 0.26);
}

/* Line Clamp */
.lineClampThree {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* About Typography */

.aboutTypographytitle {
  color: black;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.aboutTypographysubtitle {
  color: black;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
}

.aboutTypographyparagraph {
  font-size: 18px;
  color: black;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.aboutTypographyparagraphWhite {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

/* Security Section */

.securitySection {
  display: flex;
  width: 223px;
  height: 95px;
  padding: 30px 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid var(#afafff 100% #ff8fb8 100% #ffbb9b 100%, #afafff);
}

/* Helpers */
.ignore_global_spacing {
  width: 100% !important;
}

/* Responsivness */
@media (max-width: 640px) {
  .blueText {
    padding: 1px;
    font-size: 15px;
  }
  .costText {
    font-size: 15px;
  }
  /* Helpers */
  .ignore_global_spacing {
    width: 95vw !important;
  }
  .featureCardTitle {
    font-size: 14px;
  }
  .securitySection {
    width: 150px;
    height: 50px;
    padding: 15px;
  }
}
/* Responsivness */
@media (max-width: 640px) {
  .fullWidthButtonChildren,
  .fullWidthButtonChildren button,
  .fullWidthButtonChildren div {
    width: 100% !important;
  }
}

/* TODO Maybe move this to another file */
.spin-shrink-grow {
  display: inline-block;
  animation: spinShrinkGrow 4s ease-in-out forwards;
}
@keyframes spinShrinkGrow {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(180deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1);
  }
  75% {
    transform: rotate(540deg) scale(0.8);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}

/* tableStyling.css */
.loader {
  border: 5px solid #565ac2; /* Light grey */
  border-top: 5px solid white; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: auto;
  display: block;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* hovers */
.arrowButtonBG:hover .arrowButtonChild {
  background: #f4f4ff;
}

.arrowButtonBG:hover .pathArrowChild {
  stroke: black;
}

/* Contentful Styling */
.list_inline {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.my-4 {
  margin: 1rem 0;
}

.my-2 {
  margin: 0.5rem 0;
}

.text-3xl {
  font-size: 1.875rem; /* 30px */
}

.text-2xl {
  font-size: 1.5rem; /* 24px */
}

.text-xl {
  font-size: 1.25rem; /* 20px */
}

.font-bold {
  font-weight: bold;
}

.list-disc {
  list-style-type: disc;
}

.list-decimal {
  list-style-type: decimal;
}

.list-inside {
  list-style-position: inherit;
}

.gradient-border {
  border: 1px solid;
  border-image: linear-gradient(
      to bottom,
      #ffbb9b 10%,
      #ff8fb8 60%,
      #afafff 80%
    )
    1;
}

.inlineImage {
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  height: 400px;
  margin: 0 auto;
}

.styled-table {
  width: 100%;
  margin-top: 25px;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
}

.styled-table thead tr {
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 10000;
}

.swiper-pagination {
  z-index: -100 !important;
}

.styled-table-container {
  overflow-x: auto;
  width: 100%;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th,
.styled-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.styled-table td {
  white-space: nowrap; /* Prevents text from wrapping */
}

@media screen and (max-width: 768px) {
  .styled-table th,
  .styled-table td {
    padding: 8px;
    font-size: 14px;
  }
  .brightText {
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 34.5px */
  }
}
.deltaWhiteLinearBG {
  background: linear-gradient(to bottom, #f4f4ff, #fff5f0, #feeef4);
}

.Toastify__close-button > svg {
  height: 20px !important;
  width: 50px !important;
}

.cta_background {
  height: 520px;
  width: 320px;
  background: no-repeat url("../public/assets/img/cta-background-image.png");
}
