.footerWrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}
.footerWrapper {
  background: rgb(22, 17, 50);
  background: -moz-linear-gradient(
    90deg,
    rgba(22, 17, 50, 1) 0%,
    rgba(23, 33, 56, 1) 50%,
    rgba(39, 21, 52, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(22, 17, 50, 1) 0%,
    rgba(23, 33, 56, 1) 50%,
    rgba(39, 21, 52, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(22, 17, 50, 1) 0%,
    rgba(23, 33, 56, 1) 50%,
    rgba(39, 21, 52, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161132",endColorstr="#271534",GradientType=1);
}

.footerTextLinksLine {
  width: 3px;
  height: auto;
  background: -moz-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afafff",endColorstr="#ffbb9b",GradientType=1);
}

.footerTextLinksVerticalLine {
  width: auto;
  height: 3px;
  background: -moz-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afafff",endColorstr="#ffbb9b",GradientType=1);
}

.termsOfUseGradient {
  height: 2px;
  background: -moz-linear-gradient(
    2600deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: -webkit-linear-gradient(
    260deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  background: linear-gradient(
    260deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afafff",endColorstr="#ffbb9b",GradientType=1);
}
