.modalParent {
  position: relative;
  box-shadow: 0px 0px 20px 0px #6b70ed;
  border-radius: 25px;
  z-index: 300000;
}
.modalWrapper {
  position: relative;
  border-radius: 25px;
  padding: 1px;
  overflow: hidden;
}

.modalWrapper:before,
.modalParent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  border-radius: 25px;
  background: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  -webkit-mask: linear-gradient(
    0deg,
    rgba(175, 175, 255, 1) 0%,
    rgba(255, 143, 184, 1) 50%,
    rgba(255, 187, 155, 1) 100%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
}

.modalContent {
  border-radius: 25px;
  position: relative;
  z-index: 1;
}

dialog {
  z-index: 300000;
}

.modalP {
  z-index: 999999999;
  height: 100dvh;
}
